---
import Layout from '../layouts/Page.astro';
import TopVerticalLine from '../components/TopVerticalLine.astro';
---

<Layout>
	<div class="container">
		<TopVerticalLine height="2em" />
		<p class="centered">Contact me via email: reubenstrangelove @ gmail.com</p>
	</div>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
	}
	.centered {
		display: block;
		margin: 0;
		padding: 3em;
		border-radius: var(--border-radius);
		border: var(--border-width) solid var(--border-color);
	}
</style>
