@tailwind base;
@tailwind components;
@tailwind utilities;



/* List formatting */
ul {
    list-style-type: square;
    margin-left: 1.5rem;
}

li {
    margin-bottom: 0.75rem;
}


/* Table formatting */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

/* Table header */
th {
    background-color: #f2f2f2;
    padding: 0.5rem;
    text-align: left;
}

/* Table body */
td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

/* Alternate row background color */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect */
tr:hover {
    background-color: #e9e9e9;
}