---
interface Props {
	height?: string;
}

const { height = '2em' } = Astro.props;
---

<div class="row" style={`height: ${height}`}>
	<div class="spacer"></div>
	<div class="connector"></div>
	<div class="spacer"></div>
</div>

<style>
	.row {
		display: flex;
		flex-direction: row;
	}
	.row .spacer {
		flex: 1;
	}
	.row .connector {
		width: var(--border-width);
		background-color: var(--border-color);
	}
</style>
